youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/subdir.mk
.metadata/.bak_0.log
.metadata/.bak_1.log
.metadata/.bak_2.log
.metadata/.bak_3.log
.metadata/.bak_4.log
.metadata/.ide.log
.metadata/.ide.log-2025-02-23.log
.metadata/.lock
.metadata/.log
.metadata/.log4j2.xml
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.0.202410091335
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/youlostit-ble.1740367972385.pdom
.metadata/.plugins/org.eclipse.cdt.core/youlostit-ble.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.make.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/youlostit-ble.build.log
.metadata/.plugins/org.eclipse.core.resources/.history/13/0024983967f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/1a/a0003dd766f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/1d/303db35064f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/21/90415c5764f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/30/4084493966f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/4a/c06ba06765f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/57/906041dd66f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/5a/906c72a863f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/5b/5002afc266f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/5e/50e81e2f68f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/6f/b076a27c67f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/75/4036000064f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/7d/f0f4d87164f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/83/60e3d39c67f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/7f/107e7f0860f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/8e/b0d10ee267f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/99/d04ee17163f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/9d/a002bef966f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/9e/0078c6a668f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/c4/605a883562f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/cf/50155f8464f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/d5/d026d32964f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/d6/70f77d0860f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/dc/f0f7d46a67f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.history/ff/40f37f0860f2001f1c4df1d100c553ff
.metadata/.plugins/org.eclipse.core.resources/.projects/youlostit-ble/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/youlostit-ble/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/youlostit-ble/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/youlostit-ble/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-youlostit-ble.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
youlostit-ble/.settings/language.settings.xml
youlostit-ble/.settings/stm32cubeide.project.prefs
youlostit-ble/Debug/Core/Src/ble.cyclo
youlostit-ble/Debug/Core/Src/ble.o
youlostit-ble/Debug/Core/Src/ble.su
youlostit-ble/Debug/Core/Src/i2c.cyclo
youlostit-ble/Debug/Core/Src/i2c.d
youlostit-ble/Debug/Core/Src/i2c.o
youlostit-ble/Debug/Core/Src/i2c.su
youlostit-ble/Debug/Core/Src/leds.cyclo
youlostit-ble/Debug/Core/Src/leds.d
youlostit-ble/Debug/Core/Src/leds.o
youlostit-ble/Debug/Core/Src/leds.su
youlostit-ble/Debug/Core/Src/lsm6dsl.cyclo
youlostit-ble/Debug/Core/Src/lsm6dsl.d
youlostit-ble/Debug/Core/Src/lsm6dsl.o
youlostit-ble/Debug/Core/Src/lsm6dsl.su
youlostit-ble/Debug/Core/Src/main.cyclo
youlostit-ble/Debug/Core/Src/main.d
youlostit-ble/Debug/Core/Src/main.o
youlostit-ble/Debug/Core/Src/main.su
youlostit-ble/Debug/Core/Src/stm32l4xx_hal_msp.o
youlostit-ble/Debug/Core/Src/stm32l4xx_it.o
youlostit-ble/Debug/Core/Src/subdir.mk
youlostit-ble/Debug/Core/Src/syscalls.o
youlostit-ble/Debug/Core/Src/system_stm32l4xx.o
youlostit-ble/Debug/Core/Src/timer.cyclo
youlostit-ble/Debug/Core/Src/timer.d
youlostit-ble/Debug/Core/Src/timer.o
youlostit-ble/Debug/Core/Src/timer.su
youlostit-ble/Debug/Core/Startup/startup_stm32l475vgtx.o
youlostit-ble/Debug/Core/Startup/subdir.mk
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/subdir.mk
youlostit-ble/Debug/makefile
youlostit-ble/Debug/objects.mk
youlostit-ble/Debug/objects.list
youlostit-ble/Debug/youlostit-ble.elf
youlostit-ble/Debug/sources.mk
youlostit-ble/Debug/youlostit-ble.list
youlostit-ble/Debug/youlostit-ble.map
youlostit-ble/youlostit-ble.launch
youlostit-ble/.settings/language.settings.xml
youlostit-ble/.settings/language.settings.xml
youlostit-ble/.settings/stm32cubeide.project.prefs
youlostit-ble/Debug/Core/Src/ble.cyclo
youlostit-ble/Debug/Core/Src/ble.o
youlostit-ble/Debug/Core/Src/ble.su
youlostit-ble/Debug/Core/Src/main.cyclo
youlostit-ble/Debug/Core/Src/main.d
youlostit-ble/Debug/Core/Src/main.o
youlostit-ble/Debug/Core/Src/main.su
youlostit-ble/Debug/Core/Src/stm32l4xx_hal_msp.o
youlostit-ble/Debug/Core/Src/stm32l4xx_it.o
youlostit-ble/Debug/Core/Src/subdir.mk
youlostit-ble/Debug/Core/Src/syscalls.o
youlostit-ble/Debug/Core/Src/system_stm32l4xx.o
youlostit-ble/Debug/Core/Startup/startup_stm32l475vgtx.o
youlostit-ble/Debug/Core/Startup/subdir.mk
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim_ex.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim.o
youlostit-ble/Debug/Drivers/STM32L4xx_HAL_Driver/Src/subdir.mk
youlostit-ble/Debug/makefile
youlostit-ble/Debug/objects.list
youlostit-ble/Debug/objects.mk
youlostit-ble/Debug/sources.mk
youlostit-ble/Debug/youlostit-ble.elf
youlostit-ble/Debug/youlostit-ble.list
youlostit-ble/Debug/youlostit-ble.map
youlostit-ble/youlostit-ble.launch
*.o
*.xml
*.prefs
*.su
*.cyclo
